body.oh {
  overflow: hidden;
}

header {
  height: 100vh;
  padding: 50px 60px 37px;
  background: {
    image: url("../img/header/header.png");
    size: cover;
    repeat: no-repeat;
  }
  .headerCont {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
    .header {
      .right {
        .lang {
          transition: 0.5s linear;
          .langs {
            display: none;
            .active {
              color: red;
            }
            div {
              margin-left: 7px;
              font-family: "Futura";
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              text-transform: uppercase;
              color: #004191;
            }
          }
          .langs {
            div:hover {
              color: red;
            }
          }
        }
        .lang:hover {
          background: #fff;
          padding: 10px;
          margin-right: 0px;
          cursor: pointer;

          svg {
            fill: #004191;
          }

          .langs {
            display: flex;
          }
        }
        .menu {
          div {
            transition: 0.5s linear;
          }

          cursor: pointer;

          .lines {
            margin-left: 30px;

            .line {
              width: 12.5px;
              border: 1.5px solid #fff;
            }

            .line:nth-child(2) {
              width: 25px;
              border: 1.5px solid #fff;
              margin: 7.5px 0;
            }

            .line:nth-child(3) {
              margin-left: 12px;
            }
          }

          .open {
            width: 63px;

            div {
              font-family: "Futura";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 27px;
              text-transform: uppercase;
              color: #fff;
              margin-left: 10px;
            }

            div:not(.nth1) {
              display: none;
            }
          }
        }
        .menu.on {
          .lines {
            .line:nth-child(1) {
              transform: rotate(45deg);
              width: 25px;
              margin-left: 10px;
            }

            .line:nth-child(2) {
              display: none;
            }

            .line:nth-child(3) {
              transform: rotate(-45deg);
              width: 25px;
            }
          }
        }
        .menu:hover {
          .open {
            .nth1,
            .nth3 {
              display: none;
            }

            .nth2 {
              display: block;
            }
          }
          &.on {
            .open {
              .nth1,
              .nth2 {
                display: none;
              }

              .nth3 {
                display: block;
              }
            }
          }
        }
      }
      .logo,
      .right {
        z-index: 9;
      }
      .logo.fill {
        svg path {
          fill: #004191;
        }
      }
    }
    .header.del {
      background: none !important;
      box-shadow: none !important;
      transition: 0.5s linear;
      .right {
        .menu {
          .lines {
            .line {
              border: 1.5px solid #fff !important;
            }
          }
          .open {
            div {
              color: #fff !important;
            }
          }
        }
      }
    }
    .header.bg {
      position: fixed;
      width: 100vw;
      z-index: 9;
      top: 0;
      left: 0;
      padding-left: 10%;
      background: #fff;
      box-shadow: 0px -2px 10px rgb(0 0 0 / 50%);
      .logo {
        padding: 10px 0;
        svg path {
          fill: #004191;
        }
      }
      .right {
        margin-right: 10%;
        .lang {
          svg path {
            fill: #004191;
          }
        }
        .menu {
          .lines {
            .line {
              border: 1.5px solid #004191;
            }
          }
          .open {
            div {
              color: #004191;
            }
          }
        }
      }
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      position: absolute;
      top: 595px;
      max-width: 539px;
    }
    .row {
      position: absolute;
      top: 761px;
    }
    h2 {
      font-family: "Futura";
      font-style: normal;
      font-weight: 700;
      font-size: 90px;
      line-height: 130px;
      text-transform: uppercase;
      color: #fff;
      max-width: 394px;
      position: absolute;
      top: 570px;
      right: 0;
      span {
        text-transform: lowercase;
      }
    }
    .nav.fixed {
      position: fixed;
    }
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.5s all linear;
      .left,
      .rg {
        width: 50vw;
        height: 100vh;
        transition: 1s linear;
      }
      .left {
        background: #fff;
        ul {
          li {
            a {
              text-decoration: none;
              font-family: "Futura";
              font-style: normal;
              font-weight: 700;
              font-size: 70px;
              text-transform: uppercase;
              color: transparent;
              -webkit-text-stroke: 1px #004191;
            }
            a.active {
              color: #004191;
            }
          }
          li:nth-child(2) {
            margin: 30px 0;
          }
          li {
            a:hover {
              color: #004191;
            }
          }
        }
      }
      .rg {
        background: #00306b;
        .info {
          transform: translate(94px, -400px);
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
          }
          p:last-child {
            transform: translateX(291px);
          }
        }
        .text {
          transform: translate(94px, 150px);
          h2 {
            left: 0;
            font-family: "Futura";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            text-transform: uppercase;
            color: #fff;
          }
          p {
            width: 418px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
          }
        }
        .icons {
          transform: translate(94px, 850px);
          img {
            cursor: pointer;
          }
          img:nth-child(2) {
            margin: 0 30px;
          }
        }
      }
      .leftOne,
      .rightOne {
        width: 50vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        transition: 0.5s linear;
      }
      .left,
      .leftOne {
        transform: translateX(-100%);
      }
      .rg,
      .rightOne {
        transform: translateX(100%);
      }
    }
    .nav.zIndex {
      z-index: 8;
    }
  }
}
header.destination {
  background: none !important;
  height: max-content !important;
  .logo {
    padding: 10px 0;
    svg path {
      fill: #004191;
    }
  }
  .right {
    .lang {
      svg path {
        fill: #004191;
      }
    }
    .menu {
      .lines {
        .line {
          border: 1.5px solid #004191 !important;
        }
      }
      .open {
        div {
          color: #004191 !important;
        }
      }
    }
  }
}
