@media screen and (max-width: 1450px) {
  main {
    .sect3Cont {
      .gallery-thumbs {
        .text {
          left: 55px !important;
          p:nth-child(1) {
            font-size: 15px !important;
          }
          p:nth-child(2) {
            font-size: 20px !important;
            line-height: 25px !important;
          }
        }
      }
      .gallery-top {
        .line {
          width: 33% !important;
          right: 15% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  main {
    .sect2Cont {
      padding: 0 50px;
      .img {
        img {
          width: 550px !important;
          height: 300px !important;
        }
      }
      .text {
        h2 {
          font-size: 25px !important;
          line-height: 30px !important;
        }
        p {
          font-size: 20px !important;
        }
      }
    }
    .desSect2Cont {
      margin: 0 auto !important;
      .left {
        margin-left: 20px !important;
      }
    }
    .desSect3Cont {
      grid-template-columns: repeat(5, 1fr) !important;
    }
    .desSectAllCont {
      .left {
        h2 {
          font-size: 25px !important;
        }
        p {
          font-size: 15px !important;
          margin-top: 10px !important;
        }
      }
      .right {
        img {
          width: 100% !important;
        }
      }
    }
    .sect6Cont {
      .right {
        .bg {
          padding-right: 10% !important;
        }
      }
    }
    .sect {
      p, .row {
        left: 20px !important;
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  main {
    .sect1Cont {
      .img {
        img {
          width: 450px !important;
          height: 300px !important;
        }
      }
      .text {
        p {
          font-size: 20px !important;
          line-height: 30px !important;
        }
      }
    }
    .desSect1Cont {
      .left {
        margin-left: 20px !important;
        p {
          margin-left: 0 !important;
        }
      }
    }
    .desSect3Cont {
      grid-template-columns: repeat(4, 1fr) !important;
      grid-gap: 100px 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    .sect2Cont {
      .img {
        img {
          width: 300px !important;
        }
      }
      .text {
        h2 {
          font-size: 20px !important;
          line-height: 20px !important;
        }
        p {
          font-size: 18px !important;
          line-height: 20px !important;
        }
      }
    }
    .desSect2Cont {
      flex-direction: column;
      align-items: center;
      .right {
        margin-top: 30px;
        h2,
        p {
          width: 90% !important;
          margin: 0 auto !important;
        }
      }
    }
    .sect6Cont {
      .left {
        width: 40% !important;
      }
      .right {
        .bg {
          padding-top: 10% !important;
          div {
            width: 40% !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  main {
    .sect1Cont {
      .img {
        width: 100% !important;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
    .sect2Cont {
      .img {
        width: 100% !important;
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
    .desSect3Cont {
      grid-template-columns: repeat(3, 1fr) !important;
    }
    .desSectAllCont.odd {
      flex-direction: column-reverse;
    }
    .desSectAllCont.even {
      flex-direction: column;
    }
    .desSectAllCont {
      .left {
        margin-top: 20px !important;
        p,
        .title,
        h2 {
          width: 90vw !important;
        }
      }
      .right {
        img {
          width: 85vw !important;
        }
      }
    }
    .sect6Cont {
      flex-direction: column-reverse;
      padding-left: 0 !important;
      .left {
        margin: 100px auto 0 !important;
        width: 90vw !important;
        form, p {
          max-width: 100% !important;
        }
        h2 {
          margin-left: 0 !important;
        }
      }
      .right {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        div:not(.bg) {
          width: 100vw !important;
        }
      }
    }
  }
}

@media screen and (max-width: 945px) {
  main {
    .sect3Cont {
      .gallery-thumbs {
        visibility: hidden;
      }
      .gallery-top {
        .swiper-slide {
          .text {
            left: 10px !important;
          }
        }
        .line {
          visibility: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  main {
    .sect1Cont {
      padding: 100px 20px !important;
      flex-direction: column;
      .text {
        margin-left: 20px !important;
      }
    }
    .sect2Cont {
      padding: 100px 20px !important;
      flex-direction: column-reverse;
      .text {
        margin-right: 20px !important;
      }
    }
    .desSect3Cont {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
}

@media screen and (max-width: 1050px) {
  header {
    .info {
      transform: translate(44px, -200px) !important;
    }
    .text {
      transform: translate(44px, 100px) !important;
      p {
        transform: translate(0, 140px) !important;
      }
    }
    .icons {
      transform: translate(44px, 750px) !important;
    }
  }
}

@media screen and (max-width: 1020px) {
  header {
    ul {
      li {
        a {
          font-size: 40px !important;
        }
      }
    }
    .info {
      transform: translate(44px, -200px) !important;
    }
    .rightOne {
      p,
      h2 {
        font-size: 17px !important;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  header {
    .info {
      p:last-child {
        transform: translateX(200px) !important;
      }
    }
  }
  .footerCont {
    .left,
    .right {
      margin: 0 auto;
    }
    .right {
      margin-top: 40px;
    }
  }
  .desSect1Cont {
    flex-direction: column-reverse;
    .left {
      width: 90% !important;
    }
    .right {
      width: 90% !important;
      height: 300px !important;
      margin: 0 auto !important;
    }
    .left {
      margin-top: 33px;
      p {
        max-width: 99% !important;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  header {
    .headerCont {
      .header {
        .right {
          .menu.on {
            .lines {
              .line {
                border: 1.5px solid #004191 !important;
              }
            }
            .open {
              div {
                color: #004191 !important;
              }
            }
          }
        }
      }
    }
    .nav {
      width: 100vw !important;
      .rg {
        background: #fff !important;
        p,
        h2 {
          color: #004191 !important;
        }
        .info,
        .text,
        p,
        h2 {
          position: absolute;
          left: -120px !important;
        }
      }
    }
  }
  .desSect1Cont {
    .right {
      .img {
        display: none;
      }
      p {
        font-size: 25px !important;
      }
    }
  }
}

@media screen and (max-width: 707px) {
  header {
    ul {
      margin-left: 40px !important;
      li {
        a {
          font-size: 30px !important;
        }
      }
    }
    .logo {
      svg {
        width: 111px;
      }
    }
    .rg {
      h2 {
        top: 500px !important;
      }
    }
    .header.bg {
      padding-left: 3em !important;
    }
  }
  main {
    .sect {
      h2 {
        font-size: 50px !important;
        line-height: 50px !important;
        bottom: 50px !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .sect4Cont {
    .box:nth-child(2) {
      margin: 20px 0;
    }
  }
  .desSect1Cont {
    .right {
      p {
        font-size: 20px !important;
      }
    }
  }
  main {
    .sect {
      h2 {
        max-width: 294px;
        left: 70px !important;
        font-size: 40px !important;
        line-height: 45px !important;
      }
    }
  }
}

@media screen and (max-width: 350px) {
    header {
      ul {
        margin-left: 10px !important;
        li {
          a {
            font-size: 20px !important;
          }
        }
      }
      .logo {
        svg {
          max-width: 88px;
        }
      }
      p {
        top: 200px !important;
      }
      .row {
        top: 661px !important;
      }
      .rg {
        .text {
          margin-left: 20% !important;
          h2,p {
            margin-left: 50px !important;
          }
          h2 {
             top: 400px !important;
             max-width: max-content !important;
          }
          P {
            top: 300px !important;
          }
        }
        .info {
          width: 100% !important;
          top: 200px !important;
          p {
          top: 200px !important;
          margin-left: 50% !important;
          }
          p:last-child {
            transform: translate(0,30px) !important;
          }
        }
      }
      .lang {
        display: none !important;
      }
      h2 {
        font-size: 50px !important;
        line-height: 50px !important;
        top: 450px !important;
        left: 0;
        font-size: 40px !important;
      }
      .header.bg {
        padding-left: 3em !important;
      }
    }
    footer {
      padding-bottom: 0 !important;
    .footerCont {
      .right {
        ul {
            li {
                a {
                    font-size: 12px !important;
                }
            }
            li:nth-child(2) {
                a {
                    margin: 0 10px !important;
                }
            }
        }
        h2 {
            font-size: 16px !important;
        }
        p {
            font-size: 15px !important;
        }
    }
    }
    .bg {
      margin-top: 70px;
      position: relative;
      img {
          max-width: 100%;
          position: absolute;
      }
      img:nth-child(1) {
          height: 70px !important;
      }
      img:nth-child(2) {
          height: 100px !important;
          top: 10px;
      }
      .text {
          position: relative;
          padding: 0 50px !important;
          top: 30px !important;
          flex-wrap: wrap !important;
          p {
              font-weight: 100 !important;
              font-size: 12px !important;
          }
      }
  }
  }
  .sect4Cont {
    padding: 0 !important;
    .boxs {
      .box {
        margin: 0 auto !important;
      }
    }
  }
  .sect6Cont {
    .left {
      h2 {
        font-size: 20px !important;
      }
    }
    .right {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      div:not(.bg) {
        width: 10vw !important;
      }
      .bg {
        margin-left: 20px !important;
      }
    }
  }
}
