main {
  .sect2 {
    margin-bottom: 100px;
    .sect2Cont {
      max-width: 1320px;
      margin: 0 auto;
      .img {
        width: 670px;
        height: 330px;
      }
      .text {
        margin-right: 100px;
        h2 {
          font-family: "Futura";
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
          text-transform: uppercase;
          color: #004191;
          margin-bottom: 20px;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 300;
          font-size: 26px;
          line-height: 26px;
          color: #000;
        }
      }
    }
  }
}
