main {
  .sect1 {
    background: #f1f1f1;
    border-radius: 0px 0px 300px 300px;
    margin-bottom: 100px;
    .sect1Cont {
      max-width: 1320px;
      margin: 0 auto;
      padding: 100px 50px;
      .img {
        width: 670px;
        height: 330px;
      }
      .text {
        margin-left: 100px;
        h2 {
          font-family: "Futura";
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
          text-transform: uppercase;
          color: #004191;
          margin-bottom: 20px;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 300;
          font-size: 26px;
          line-height: 46px;
          color: #000;
        }
      }
    }
  }
}
