main {
    .sect {
        position: relative;
        max-width: 1320px;
        margin: 0 auto;

        p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            position: absolute;
            bottom: 180px;
            max-width: 539px;
        }

        .row {
            position: absolute;
            bottom: 70px;
        }

        h2 {
            font-family: "Futura";
            font-style: normal;
            font-weight: 700;
            font-size: 90px;
            line-height: 130px;
            text-transform: uppercase;
            color: #fff;
            max-width: 394px;
            position: absolute;
            bottom: 125px;
            right: 0;

            span {
                text-transform: lowercase;
            }
        }
    }
}