main {
  .sect3 {
    .sect3Cont {
      h2 {
        font-family: 'Futura';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        color: #004191;
        margin-bottom: 60px;
        text-align: center;
      }
      .gallery-top {
        .swiper-slide {
          .text {
            position: absolute;
            top: 40%;
            left: 116px;
            text-align: left;
            p:nth-child(1) {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 36px;
              color: #fff;
            }
            p:nth-child(2) {
              font-family: "Futura";
              font-style: normal;
              font-weight: 700;
              font-size: 52px;
              line-height: 69px;
              text-transform: uppercase;
              color: #fff;
            }
            a {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 27px;
              color: #fff;
              text-decoration: none;
            }
            a:hover {
              color: rgba(53, 133, 230, 0.8);
            }
          }
        }
        .line {
          width: 40%;
          border: 3px solid #fff;
          position: absolute;
          bottom: 8%;
          right: 10%;
          z-index: 1;
        }
      }
      .gallery-thumbs {
        .swiper-slide {
          .text {
            text-align: left;
            position: absolute;
            left: 70px;
            bottom: 30px;
            p:nth-child(1) {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 30px;
              color: #fff;
            }
            p:nth-child(2) {
              font-family: "Futura";
              font-style: normal;
              font-weight: 700;
              font-size: 28px;
              line-height: 37px;
              text-transform: uppercase;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
