* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body.oh {
  overflow: hidden;
}

header {
  overflow: hidden;
  height: 100vh;
  padding: 50px 60px 37px;
  background-image: url("../img/header/header.png");
  background-size: cover;
  background-repeat: no-repeat;
}
header .headerCont {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}
header .headerCont .header .right .lang {
  transition: 0.5s linear;
}
header .headerCont .header .right .lang .langs {
  display: none;
}
header .headerCont .header .right .lang .langs .active {
  color: red;
}
header .headerCont .header .right .lang .langs div {
  margin-left: 7px;
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #004191;
}
header .headerCont .header .right .lang .langs div:hover {
  color: red;
}
header .headerCont .header .right .lang:hover {
  background: #fff;
  padding: 10px;
  margin-right: 0px;
  cursor: pointer;
}
header .headerCont .header .right .lang:hover svg {
  fill: #004191;
}
header .headerCont .header .right .lang:hover .langs {
  display: flex;
}
header .headerCont .header .right .menu {
  cursor: pointer;
}
header .headerCont .header .right .menu div {
  transition: 0.5s linear;
}
header .headerCont .header .right .menu .lines {
  margin-left: 30px;
}
header .headerCont .header .right .menu .lines .line {
  width: 12.5px;
  border: 1.5px solid #fff;
}
header .headerCont .header .right .menu .lines .line:nth-child(2) {
  width: 25px;
  border: 1.5px solid #fff;
  margin: 7.5px 0;
}
header .headerCont .header .right .menu .lines .line:nth-child(3) {
  margin-left: 12px;
}
header .headerCont .header .right .menu .open {
  width: 63px;
}
header .headerCont .header .right .menu .open div {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
}
header .headerCont .header .right .menu .open div:not(.nth1) {
  display: none;
}
header .headerCont .header .right .menu.on .lines .line:nth-child(1) {
  transform: rotate(45deg);
  width: 25px;
  margin-left: 10px;
}
header .headerCont .header .right .menu.on .lines .line:nth-child(2) {
  display: none;
}
header .headerCont .header .right .menu.on .lines .line:nth-child(3) {
  transform: rotate(-45deg);
  width: 25px;
}
header .headerCont .header .right .menu:hover .open .nth1,
header .headerCont .header .right .menu:hover .open .nth3 {
  display: none;
}
header .headerCont .header .right .menu:hover .open .nth2 {
  display: block;
}
header .headerCont .header .right .menu:hover.on .open .nth1,
header .headerCont .header .right .menu:hover.on .open .nth2 {
  display: none;
}
header .headerCont .header .right .menu:hover.on .open .nth3 {
  display: block;
}
header .headerCont .header .logo,
header .headerCont .header .right {
  z-index: 5;
}
header .headerCont .header .logo.fill svg path {
  fill: #004191;
}
header .headerCont .header.del {
  background: none !important;
  box-shadow: none !important;
}
header .headerCont .header.del .right .menu .lines .line {
  border: 1.5px solid #fff !important;
}
header .headerCont .header.del .right .menu .open div {
  color: #fff !important;
}
header .headerCont .header.bg {
  position: fixed;
  width: 100vw;
  z-index: 5;
  top: 0;
  left: 0;
  padding-left: 18em;
  background: #fff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}
header .headerCont .header.bg .logo {
  padding: 10px 0;
}
header .headerCont .header.bg .logo svg path {
  fill: #004191;
}
header .headerCont .header.bg .right {
  margin-right: 19em;
}
header .headerCont .header.bg .right .lang svg path {
  fill: #004191;
}
header .headerCont .header.bg .right .menu .lines .line {
  border: 1.5px solid #004191;
}
header .headerCont .header.bg .right .menu .open div {
  color: #004191;
}
header .headerCont p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  position: absolute;
  top: 595px;
  max-width: 539px;
}
header .headerCont .row {
  position: absolute;
  top: 761px;
}
header .headerCont h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 130px;
  text-transform: uppercase;
  color: #fff;
  width: 394px;
  position: absolute;
  top: 570px;
  right: 0;
}
header .headerCont h2 span {
  text-transform: lowercase;
}
header .headerCont .nav.fixed {
  position: fixed;
}
header .headerCont .nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s all linear;
}
header .headerCont .nav .left,
header .headerCont .nav .rg {
  width: 50vw;
  height: 100vh;
  transition: 1s linear;
}
header .headerCont .nav .left {
  background: #fff;
}
header .headerCont .nav .left ul li a {
  text-decoration: none;
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #004191;
}
header .headerCont .nav .left ul li a.active {
  color: #004191;
}
header .headerCont .nav .left ul li:nth-child(2) {
  margin: 30px 0;
}
header .headerCont .nav .left ul li a:hover {
  color: #004191;
}
header .headerCont .nav .rg {
  background: #00306b;
}
header .headerCont .nav .rg .info {
  transform: translate(94px, -400px);
}
header .headerCont .nav .rg .info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
header .headerCont .nav .rg .info p:last-child {
  transform: translateX(291px);
}
header .headerCont .nav .rg .text {
  transform: translate(94px, 150px);
}
header .headerCont .nav .rg .text h2 {
  left: 0;
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}
header .headerCont .nav .rg .text p {
  width: 418px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
header .headerCont .nav .rg .icons {
  transform: translate(94px, 850px);
}
header .headerCont .nav .rg .icons img {
  cursor: pointer;
}
header .headerCont .nav .rg .icons img:nth-child(2) {
  margin: 0 30px;
}
header .headerCont .nav .leftOne,
header .headerCont .nav .rightOne {
  width: 50vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s linear;
}
header .headerCont .nav .left,
header .headerCont .nav .leftOne {
  transform: translateX(-100%);
}
header .headerCont .nav .rg,
header .headerCont .nav .rightOne {
  transform: translateX(100%);
}
header .headerCont .nav.zIndex {
  z-index: 2;
}

header.destination {
  background: none !important;
  height: -moz-max-content !important;
  height: max-content !important;
}
header.destination .logo {
  padding: 10px 0;
}
header.destination .logo svg path {
  fill: #004191;
}
header.destination .right .lang svg path {
  fill: #004191;
}
header.destination .right .menu .lines .line {
  border: 1.5px solid #004191 !important;
}
header.destination .right .menu .open div {
  color: #004191 !important;
}

main .sect1 {
  background: #f1f1f1;
  border-radius: 0px 0px 300px 300px;
  margin-bottom: 100px;
}
main .sect1 .sect1Cont {
  max-width: 1320px;
  margin: 0 auto;
  padding: 100px 50px;
}
main .sect1 .sect1Cont .img {
  width: 670px;
  height: 330px;
}
main .sect1 .sect1Cont .text {
  margin-left: 100px;
}
main .sect1 .sect1Cont .text h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  margin-bottom: 20px;
}
main .sect1 .sect1Cont .text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 46px;
  color: #000;
}

main .sect2 {
  margin-bottom: 100px;
}
main .sect2 .sect2Cont {
  max-width: 1320px;
  margin: 0 auto;
}
main .sect2 .sect2Cont .img {
  width: 670px;
  height: 330px;
}
main .sect2 .sect2Cont .text {
  margin-right: 100px;
}
main .sect2 .sect2Cont .text h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  margin-bottom: 20px;
}
main .sect2 .sect2Cont .text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 26px;
  color: #000;
}

main .sect3 .sect3Cont h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  margin-bottom: 60px;
  text-align: center;
}
main .sect3 .sect3Cont .gallery-top .swiper-slide .text {
  position: absolute;
  top: 40%;
  left: 116px;
  text-align: left;
}
main .sect3 .sect3Cont .gallery-top .swiper-slide .text p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
main .sect3 .sect3Cont .gallery-top .swiper-slide .text p:nth-child(2) {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 69px;
  text-transform: uppercase;
  color: #fff;
}
main .sect3 .sect3Cont .gallery-top .swiper-slide .text a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-decoration: none;
}
main .sect3 .sect3Cont .gallery-top .swiper-slide .text a:hover {
  color: rgba(53, 133, 230, 0.8);
}
main .sect3 .sect3Cont .gallery-top .line {
  width: 40%;
  border: 3px solid #fff;
  position: absolute;
  bottom: 8%;
  right: 10%;
  z-index: 1;
}
main .sect3 .sect3Cont .gallery-thumbs .swiper-slide .text {
  text-align: left;
  position: absolute;
  left: 70px;
  bottom: 30px;
}
main .sect3 .sect3Cont .gallery-thumbs .swiper-slide .text p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
main .sect3 .sect3Cont .gallery-thumbs .swiper-slide .text p:nth-child(2) {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-transform: uppercase;
  color: #fff;
}

main .sect4 {
  margin: 100px 0;
}
main .sect4 .sect4Cont {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 84px;
}
main .sect4 .sect4Cont h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  text-align: center;
  margin-bottom: 60px;
}
main .sect4 .sect4Cont .boxs {
  flex-wrap: wrap;
}
main .sect4 .sect4Cont .boxs .box {
  text-align: center;
}
main .sect4 .sect4Cont .boxs .box .img {
  position: relative;
}
main .sect4 .sect4Cont .boxs .box .img .blur {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #0072ff;
  filter: blur(17px);
}
main .sect4 .sect4Cont .boxs .box h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #004191;
  margin: 30px 0 10px;
}
main .sect4 .sect4Cont .boxs .box p {
  width: 275px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
main .sect4 .sect4Cont .boxs .box:nth-child(1) .blur,
main .sect4 .sect4Cont .boxs .box:nth-child(3) .blur {
  top: 40px;
  left: 80px;
}
main .sect4 .sect4Cont .boxs .box:nth-child(2) .blur {
  top: 40px;
  right: 80px;
}
main .sect4 .sect4Cont .boxs .box:nth-child(3) .blur {
  top: 10px;
  right: 80px;
}

main .sect5 {
  margin-bottom: 100px;
}
main .sect5 .sect5Cont {
  max-width: 1320px;
  margin: 0 auto;
}
main .sect5 .sect5Cont h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  text-align: center;
  margin-bottom: 90px;
}
main .sect5 .sect5Cont .reference .boxs {
  margin: 0 10px;
  height: 310px;
}
main .sect5 .sect5Cont .reference .boxs .box {
  margin: auto;
  margin-top: 30px;
  padding: 40px 20px 30px;
  width: 315px;
  height: 275px;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  position: relative;
}
main .sect5 .sect5Cont .reference .boxs .box img {
  position: absolute;
  top: -30px;
}
main .sect5 .sect5Cont .reference .boxs .box p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  margin: 0 0 auto 0;
}
main .sect5 .sect5Cont .reference .boxs .box h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #004191;
  text-align: left;
  margin: 16px 0 0 0;
}
main .sect5 .sect5Cont .reference .swiper-button-next::after,
main .sect5 .sect5Cont .reference .swiper-button-prev::after {
  border: 3px solid red !important;
}
main .sect5 .sect5Cont .reference .swiper-button-next,
main .sect5 .sect5Cont .reference .swiper-button-prev {
  margin: 45px 0 0 9px;
  background: none;
}

main .sect6 {
  margin-bottom: 124px;
}
main .sect6 .sect6Cont {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .sect6 .sect6Cont .left {
  width: 50%;
}
main .sect6 .sect6Cont .left h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  margin-bottom: 10px;
  margin-left: -44px;
}
main .sect6 .sect6Cont .left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 46px;
  color: #000000;
  max-width: 500px;
  margin-bottom: 50px;
}
main .sect6 .sect6Cont .left form {
  max-width: 500px;
}
main .sect6 .sect6Cont .left form input,
main .sect6 .sect6Cont .left form textarea {
  width: 100%;
  padding: 18px 20px;
  background: #fff;
  border: 1px solid #004191;
}
main .sect6 .sect6Cont .left form input:nth-child(2) {
  margin: 16px 0;
}
main .sect6 .sect6Cont .left form input:nth-child(4) {
  background: #004191;
  margin-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
main .sect6 .sect6Cont .right {
  position: relative;
  width: 50%;
}
main .sect6 .sect6Cont .right img {
  width: 90%;
  height: 600px;
  padding-bottom: 30px;
}
main .sect6 .sect6Cont .right div {
  width: 1050px;
  height: 674px;
  position: absolute;
  top: -10%;
  left: -15%;
  z-index: -1;
}
main .sect6 .sect6Cont .right div:nth-child(2) {
  background: rgba(0, 65, 145, 0.2);
}
main .sect6 .sect6Cont .right div:nth-child(3) {
  background: rgba(6, 84, 180, 0.7);
  -webkit-clip-path: circle(100% at 70% -30%);
          clip-path: circle(100% at 70% -30%);
}
main .sect6 .sect6Cont .right div:nth-child(4) {
  background: rgba(0, 86, 191, 0.6);
  -webkit-clip-path: circle(100% at 64% -27%);
          clip-path: circle(100% at 64% -27%);
}

footer {
  background: #fff;
  box-shadow: 0px -2px 10px rgba(156, 156, 156, 0.25);
  padding: 80px 0 130px;
}
footer .footerCont {
  max-width: 1320px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 50px;
}
footer .footerCont .left h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #004191;
  margin: 30px 0 10px;
}
footer .footerCont .left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 20px;
}
footer .footerCont .left .inp {
  width: 399px;
  position: relative;
}
footer .footerCont .left .inp input {
  width: 100%;
  background: #fff;
  border: 1px solid #004191;
  padding: 8px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
footer .footerCont .left .inp img {
  position: absolute;
  top: 13px;
  right: 13px;
}
footer .footerCont .right ul {
  display: flex;
}
footer .footerCont .right ul li a {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #004191;
  text-decoration: none;
  display: inline-block;
}
footer .footerCont .right ul li:nth-child(2) a {
  margin: 0 75px;
}
footer .footerCont .right h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #004191;
  margin: 59px 0 10px;
}
footer .footerCont .right p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  width: 418px;
  margin-bottom: 40px;
}
footer .bg {
  margin-top: 110px;
  position: relative;
  bottom: 0;
}
footer .bg img {
  width: 100%;
  position: absolute;
}
footer .bg img:nth-child(1) {
  height: 180px;
}
footer .bg img:nth-child(2) {
  height: 140px;
  top: 50px;
}
footer .bg .text {
  position: relative;
  padding: 0 60px;
  top: 115px;
}
footer .bg .text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
footer .bg .text p span {
  font-weight: bold;
}

main .desSect1 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
main .desSect1 .desSect1Cont {
  max-width: 1320px;
  margin: 120px auto;
  align-items: center;
}
main .desSect1 .desSect1Cont .left,
main .desSect1 .desSect1Cont .right {
  width: 50%;
}
main .desSect1 .desSect1Cont .left h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  margin-bottom: 20px;
}
main .desSect1 .desSect1Cont .left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  margin-left: 50px;
  max-width: 606px;
}
main .desSect1 .desSect1Cont .right {
  height: 577px;
  margin-left: 20px;
}
main .desSect1 .desSect1Cont .right .img1,
main .desSect1 .desSect1Cont .right .img2 {
  transition: 0.5s linear;
  position: relative;
}
main .desSect1 .desSect1Cont .right .img1 img,
main .desSect1 .desSect1Cont .right .img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .desSect1 .desSect1Cont .right .img1 img:hover,
main .desSect1 .desSect1Cont .right .img2 img:hover {
  cursor: pointer;
}
main .desSect1 .desSect1Cont .right .img1 .img,
main .desSect1 .desSect1Cont .right .img2 .img {
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
main .desSect1 .desSect1Cont .right .img1 {
  width: 400px;
}
main .desSect1 .desSect1Cont .right .img2 {
  width: 230px;
  margin-left: 20px;
}
main .desSect1 .desSect1Cont .right .img2 .text {
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: rotate(-90deg);
  bottom: 90px;
  left: -30px;
}
main .desSect1 .desSect1Cont .right .img1:hover,
main .desSect1 .desSect1Cont .right .img2:hover {
  width: 400px !important;
}
main .desSect1 .desSect1Cont .right .img1:hover .text,
main .desSect1 .desSect1Cont .right .img2:hover .text {
  transform: rotate(0) !important;
  bottom: 30px !important;
  left: 30px !important;
}
main .desSect1 .desSect1Cont .right .img2:hover .img1 {
  width: 230px !important;
}
main .desSect1 .desSect1Cont .right .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
main .desSect1 .desSect1Cont .right .text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
main .desSect1 .desSect1Cont .right .text p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  text-transform: uppercase;
  color: #fff;
}
main .desSect2 {
  margin-bottom: 120px;
}
main .desSect2 .desSect2Cont {
  max-width: 1320px;
  margin: 0 auto;
}
main .desSect2 .desSect2Cont .left {
  position: relative;
}
main .desSect2 .desSect2Cont .left .box1 {
  width: 427px;
  height: 120px;
  background: #fff;
  border: 1px solid #004191;
  position: relative;
  margin-top: 90px;
  cursor: pointer;
  transition: 0.5s linear;
}
main .desSect2 .desSect2Cont .left .box1 .az p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #004191;
  margin-left: 23px;
}
main .desSect2 .desSect2Cont .left .box1 .circle {
  width: 20px;
  height: 20px;
  background: #004191;
  border-radius: 50%;
  position: absolute;
  left: 25px;
}
main .desSect2 .desSect2Cont .left .box1.azOf .circle {
  border: 1px solid #004191;
  background: none;
}
main .desSect2 .desSect2Cont .left .azUl {
  transition: 0.5s linear !important;
  margin-left: 31px;
}
main .desSect2 .desSect2Cont .left .azUl li {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #004191;
  margin: 10px 0;
}
main .desSect2 .desSect2Cont .left .azUl li:first-child {
  margin-top: 21px;
}
main .desSect2 .desSect2Cont .left .azUl li:last-child {
  margin-bottom: 21px;
}
main .desSect2 .desSect2Cont .left .azUl li::before {
  content: "";
  display: inline-block;
  margin-right: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #528ad0;
}
main .desSect2 .desSect2Cont .left .box2 {
  width: 335px;
  height: 120px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
  position: relative;
  cursor: pointer;
  transition: 0.9s linear;
}
main .desSect2 .desSect2Cont .left .box2 .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #004191;
  border-radius: 50%;
  position: absolute;
  left: 25px;
}
main .desSect2 .desSect2Cont .left .box2 .tr p {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: #004191;
  margin-left: 23px;
}
main .desSect2 .desSect2Cont .left .box2 .trUl {
  position: absolute;
  top: 151px;
  left: 31px;
  transition: 0.5s linear !important;
}
main .desSect2 .desSect2Cont .left .box2 .trUl li {
  font-family: "Futura";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #004191;
}
main .desSect2 .desSect2Cont .left .box2 .trUl li:nth-child(2) {
  margin: 38px 0;
}
main .desSect2 .desSect2Cont .left .box2 .trUl li::before {
  content: "";
  display: inline-block;
  margin-right: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #528ad0;
}
main .desSect2 .desSect2Cont .left .box2.trOn .circle {
  background: #004191;
}
main .desSect2 .desSect2Cont .lines {
  position: absolute;
  top: 161px;
  left: 35px;
}
main .desSect2 .desSect2Cont .lines .line {
  width: 2px;
  height: 7px;
  background: #004191;
  border-radius: 2px;
  margin: 7px 0;
}
main .desSect2 .desSect2Cont .right h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
  color: #004191;
  width: 420px;
  margin-bottom: 20px;
}
main .desSect2 .desSect2Cont .right p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  width: 522px;
  margin-left: 50px;
}
main .desSect2 .desSect2Cont .right p:nth-child(2) {
  margin-bottom: 20px;
}
main .desSect3 h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  text-align: center;
}
main .desSect3 .desSect3Cont {
  max-width: 1320px;
  margin: 120px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 20px;
}
main .desSect3 .desSect3Cont .card {
  width: 203px;
  height: 500px;
  transition: 0.3s linear;
}
main .desSect3 .desSect3Cont .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .desSect3 .desSect3Cont .card:hover {
  transform: translateY(-20px);
}
main .desSect3 .desSect3Cont .card:nth-child(odd) img {
  transform: translateY(-70px);
}
main .desSectAll .desSectAllCont {
  max-width: 1320px;
  margin: 0 auto 120px;
}
main .desSectAll .desSectAllCont .left,
main .desSectAll .desSectAllCont .right {
  max-width: 50%;
  margin: 0 40px;
}
main .desSectAll .desSectAllCont .left .title {
  transform: translateX(-30px);
}
main .desSectAll .desSectAllCont .left .title img {
  margin-right: 20px;
}
main .desSectAll .desSectAllCont .left h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #004191;
  max-width: 600px;
}
main .desSectAll .desSectAllCont .left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  margin-top: 20px;
}

@media screen and (max-width: 1450px) {
  main .sect3Cont .gallery-thumbs .text {
    left: 55px !important;
  }
  main .sect3Cont .gallery-thumbs .text p:nth-child(1) {
    font-size: 15px !important;
  }
  main .sect3Cont .gallery-thumbs .text p:nth-child(2) {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  main .sect3Cont .gallery-top .line {
    width: 33% !important;
    right: 15% !important;
  }
  main .sect6Cont .left {
    margin-left: 60px !important;
  }
}
@media screen and (max-width: 1360px) {
  main .sect2Cont {
    padding: 0 50px;
  }
  main .sect2Cont .img img {
    width: 550px !important;
    height: 300px !important;
  }
  main .sect2Cont .text h2 {
    font-size: 25px !important;
    line-height: 30px !important;
  }
  main .sect2Cont .text p {
    font-size: 20px !important;
  }
  main .sect6Cont .right {
    width: 38% !important;
  }
  main .desSect2Cont {
    margin: 0 auto !important;
  }
  main .desSect2Cont .left {
    margin-left: 20px !important;
  }
  main .desSect3Cont {
    grid-template-columns: repeat(5, 1fr) !important;
  }
  main .desSectAllCont .left h2 {
    font-size: 25px !important;
  }
  main .desSectAllCont .left p {
    font-size: 15px !important;
    margin-top: 10px !important;
  }
  main .desSectAllCont .right img {
    width: 100% !important;
  }
}
@media screen and (max-width: 1340px) {
  main .sect1Cont .img img {
    width: 450px !important;
    height: 300px !important;
  }
  main .sect1Cont .text p {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  main .desSect1Cont .left {
    margin-left: 20px !important;
  }
  main .desSect1Cont .left p {
    margin-left: 0 !important;
  }
  main .desSect3Cont {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 100px 0;
  }
}
@media screen and (max-width: 1200px) {
  main .sect2Cont .img img {
    width: 300px !important;
  }
  main .sect2Cont .text h2 {
    font-size: 20px !important;
    line-height: 20px !important;
  }
  main .sect2Cont .text p {
    font-size: 18px !important;
    line-height: 20px !important;
  }
  main .desSect2Cont {
    flex-direction: column;
    align-items: center;
  }
  main .desSect2Cont .right {
    margin-top: 30px;
  }
  main .desSect2Cont .right h2,
  main .desSect2Cont .right p {
    width: 90% !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 1000px) {
  main .sect1Cont .img img {
    width: 300px !important;
    height: 300px !important;
  }
  main .sect6Cont {
    flex-direction: column-reverse;
  }
  main .sect6Cont .left h2 {
    margin-left: 0 !important;
    max-width: 90% !important;
  }
  main .sect6Cont .left p {
    max-width: 90% !important;
  }
  main .sect6Cont .left form {
    max-width: 90% !important;
  }
  main .sect6Cont .left,
  main .sect6Cont .right {
    margin: 30px auto 0 !important;
    width: 90% !important;
  }
  main .desSect3Cont {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  main .desSectAllCont.odd {
    flex-direction: column-reverse;
  }
  main .desSectAllCont.even {
    flex-direction: column;
  }
  main .desSectAllCont .left {
    margin-top: 20px !important;
  }
  main .desSectAllCont .left p, main .desSectAllCont .left .title, main .desSectAllCont .left h2 {
    width: 90vw !important;
  }
  main .desSectAllCont .right img {
    width: 85vw !important;
  }
}
@media screen and (max-width: 945px) {
  main .sect3Cont .gallery-thumbs {
    visibility: hidden;
  }
  main .sect3Cont .gallery-top .line {
    visibility: hidden;
  }
}
@media screen and (max-width: 800px) {
  main .sect1Cont {
    padding: 100px 20px !important;
    flex-direction: column;
  }
  main .sect1Cont .img img {
    width: 90vw !important;
  }
  main .sect1Cont .text {
    margin-left: 20px !important;
  }
  main .sect2Cont {
    padding: 100px 20px !important;
    flex-direction: column-reverse;
  }
  main .sect2Cont .img img {
    width: 90vw !important;
  }
  main .sect2Cont .text {
    margin-right: 20px !important;
  }
  main .desSect3Cont {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 1050px) {
  header p {
    top: 400px !important;
  }
  header .info {
    transform: translate(44px, -200px) !important;
  }
  header .text {
    transform: translate(44px, 100px) !important;
  }
  header .text p {
    transform: translate(0, 140px) !important;
  }
  header .icons {
    transform: translate(44px, 750px) !important;
  }
  header h2 {
    top: 510px !important;
  }
}
@media screen and (max-width: 1020px) {
  header ul li a {
    font-size: 40px !important;
  }
  header .info {
    transform: translate(44px, -200px) !important;
  }
  header .rightOne p,
  header .rightOne h2 {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 950px) {
  header .info p:last-child {
    transform: translateX(200px) !important;
  }
  .footerCont .left,
  .footerCont .right {
    margin: 0 auto;
  }
  .footerCont .right {
    margin-top: 40px;
  }
  .desSect1Cont {
    flex-direction: column-reverse;
  }
  .desSect1Cont .left {
    width: 90% !important;
  }
  .desSect1Cont .right {
    width: 90% !important;
    height: 300px !important;
    margin: 0 auto !important;
  }
  .desSect1Cont .left {
    margin-top: 33px;
  }
  .desSect1Cont .left p {
    max-width: 99% !important;
  }
}
@media screen and (max-width: 850px) {
  header .headerCont .header .right .menu.on .lines .line {
    border: 1.5px solid #004191 !important;
  }
  header .headerCont .header .right .menu.on .open div {
    color: #004191 !important;
  }
  header .nav {
    width: 100vw !important;
  }
  header .nav .rg {
    background: #fff !important;
  }
  header .nav .rg p,
  header .nav .rg h2 {
    color: #004191 !important;
  }
  header .nav .rg .info,
  header .nav .rg .text,
  header .nav .rg p,
  header .nav .rg h2 {
    position: absolute;
    left: -120px !important;
  }
  .desSect1Cont .right .img {
    display: none;
  }
  .desSect1Cont .right p {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 500px) {
  header ul {
    margin-left: 40px !important;
  }
  header ul li a {
    font-size: 30px !important;
  }
  header .logo svg {
    width: 111px;
  }
  header p {
    top: 400px !important;
  }
  header .rg h2 {
    top: 500px !important;
  }
  header h2 {
    font-size: 50px !important;
    line-height: 50px !important;
    top: 550px !important;
    left: 0;
  }
  header .header.bg {
    padding-left: 3em !important;
  }
  header .header.bg .logo {
    margin-right: 100px;
  }
  .sect4Cont .box:nth-child(2) {
    margin: 20px 0;
  }
  .sect6Cont .right div {
    max-width: 520px !important;
  }
  .desSect1Cont .right p {
    font-size: 20px !important;
  }
}/*# sourceMappingURL=style.css.map */