* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


/* ==== MANSHET PART START -------- */

.manshet_appartment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0px auto 30px;
}

.manshet_appartment .gallery-top {
  display: block;
  width: 100%;
  margin: 0px auto;
}

.manshet_appartment .gallery-thumbs {
  display: block;
  width: 71%;
  height: auto;
  margin: 10px auto;
  position: absolute;
  right: 0;
}

.sld_img {
  display: block;
  position: relative;
  width: 100%;
  max-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.sld_img::before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-top: 56%;
}

.sld_img img,
.sld_img video,
.sld_img iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
}

.sld_thumb_img {
  display: block;
  position: relative;
  right: -48px;
  width: 278px;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.gallery-thumbs .swiper-slide:hover .sld_thumb_img img {
  transform: scale(1.1);
}

.sld_thumb_img::before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-top: 134%;
}

.sld_thumb_img img,
.sld_thumb_img video,
.sld_thumb_img iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.3s ease;
}

.manshet_appartment .swiper-button-next,
.manshet_appartment .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: 0;
  outline: 0;
  margin: 0;
  bottom: 30px;
  top: auto;
  opacity: 1;
  border-radius: 50%;
}

.manshet_appartment .swiper-button-next {
  background-image: url("../img/next.svg");
  right: 60px;
}

.manshet_appartment .swiper-button-prev {
  background-image: url("../img/prev.svg");
  left: auto;
  right: 105px;
}

.manshet_appartment .swiper-slide.swiper-slide-visible.swiper-slide-active {
  opacity: 0;
  visibility: hidden;
}

.manshet_appartment .swiper-slide.swiper-slide-prev {
  opacity: 0;
  visibility: hidden;
}

.gallery-top .swiper-slide .sld_img {
  transform: scale(0) !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.gallery-top .swiper-slide.swiper-slide-active .sld_img {
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}

.gallery-top .swiper-slide.swiper-slide-prev .sld_img {
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}


/* ==== MANSHET PART FINISH -------- */